# phpize / build artifacts
.deps
.libs
Makefile
Makefile.fragments
Makefile.global
Makefile.objects
acinclude.m4
aclocal.m4
autom4te.cache
build
config.guess
config.h
config.h.in
config.h.in~
config.log
config.nice
config.status
config.sub
configure
configure.ac
configure~
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
modules
run-tests.php
*.lo
*.la
taint.dep

# test artifacts
tests/*.diff
tests/*.exp
tests/*.log
tests/*.out
tests/*.php
tests/*.sh
